<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <checkout>
            <mdn_save_cart>
                <enable_save_cart>1</enable_save_cart>
            </mdn_save_cart>
        </checkout>
    </default>
</config>
