<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="Maisondunet\SaveQuote\Block\Button\RestoreButton"
                 type="Maisondunet\SaveQuote\Block\Button\ButtonAction">
        <arguments>
            <argument name="buttonAction" xsi:type="object">Maisondunet\SaveQuote\Model\Button\ButtonActionRestore
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Maisondunet\SaveQuote\Block\Button\DeleteButton"
                 type="Maisondunet\SaveQuote\Block\Button\ButtonAction">
        <arguments>
            <argument name="buttonAction" xsi:type="object">Maisondunet\SaveQuote\Model\Button\ButtonActionDelete
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Maisondunet\SaveQuote\Block\Button\ViewButton"
                 type="Maisondunet\SaveQuote\Block\Button\ButtonAction">
        <arguments>
            <argument name="buttonAction" xsi:type="object">Maisondunet\SaveQuote\Model\Button\ButtonActionView
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\Url\SecurityInfo">
        <arguments>
            <argument name="secureUrlList" xsi:type="array">
                <item name="sales" xsi:type="string">/mdnsavecart/</item>
            </argument>
        </arguments>
    </type>

    <type name="Maisondunet\SaveQuote\Controller\Customer\Delete">
        <plugin name="customer_account" type="Magento\Customer\Controller\Plugin\Account" />
    </type>
    <type name="Maisondunet\SaveQuote\Controller\Customer\Index">
        <plugin name="customer_account" type="Magento\Customer\Controller\Plugin\Account" />
    </type>
    <type name="Maisondunet\SaveQuote\Controller\Customer\Save">
        <plugin name="customer_account" type="Magento\Customer\Controller\Plugin\Account" />
    </type>
    <type name="Maisondunet\SaveQuote\Controller\Customer\SwitchCart">
        <plugin name="customer_account" type="Magento\Customer\Controller\Plugin\Account" />
    </type>
    <type name="Maisondunet\SaveQuote\Controller\Customer\View">
        <plugin name="customer_account" type="Magento\Customer\Controller\Plugin\Account" />
    </type>
</config>
